@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono&display=swap");
section {
  height: 100vh;
  width: 100vw;
  &#section-1 {
    background-color: #000000;
  }
  &.main-section {
    display: none;
    position: absolute;
    background-color: transparent;
    transform: translateY(-100vh);
  }
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Karrik", sans-serif;
  background-color: black;
}

::selection {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.option-fill {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  text-overflow: clip;
  overflow: hidden;
  width: 0px;
  top: 0;
  transition: all 0.3s ease-in-out;
  & p {
    width: fit-content;
    position: absolute;
  }
}

.option {
  cursor: pointer;
  position: absolute;
  & * {
    cursor: pointer;
  }
  &:hover {
    .option-fill {
      width: 100%;
    }
  }
  color: white;
  display: flex;
  font-size: 5.625em;
  width: fit-content;
  opacity: 0;
  transform: matrix3d(
    0.95,
    0,
    0,
    0,
    0,
    0.5,
    -0.87,
    -0.00009,
    0,
    0.87,
    0.5,
    0,
    0,
    0,
    0,
    1
  );

  &:nth-child(1) {
    top: 20vh;
  }
  &:nth-child(2) {
    top: calc(27vh + 1em);
  }
  &:nth-child(3) {
    top: calc(34vh + 2em);
  }
  &:nth-child(4) {
    top: calc(41vh + 3em);
  }
}

.skew-container,
.skew-container-2 {
  --x-translate: 0;
  --y-translate: 0;

  &:hover {
    .skew,
    .skew-2 {
      transform: matrix3d(
        1,
        0,
        0,
        var(--x-translate),
        0,
        1,
        0,
        var(--y-translate),
        0,
        0,
        1,
        0,
        0,
        0,
        0,
        1
      ) !important;
    }
  }
}

h1,
div.hero-title-3 {
  font-size: 5em;
  font-weight: 400 !important;
  margin-bottom: 0;
  height: 1.2em;
  margin-left: 5vw;
  color: white;

  text-align: start !important;
}
#typewriter {
  font-family: "roboto mono";
  letter-spacing: 0.07em;
}
.hero-title-3 {
  display: flex;
  width: fit-content;
}
.typed-cursor {
  color: white !important;
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #000000;
  position: fixed;
  color: white;
  border-bottom: white solid 3px;
  font-size: 2.5em;
  z-index: 100;
}
a {
  cursor: pointer;
}
/* FONTS */
@font-face {
  font-family: "Karrik";
  src: url("@/assets/fonts/karrik/Karrik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Director light";
  src: url("@/assets/fonts/degheest/Director-Light.ttf");
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.right-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-60%, -50%);
  width: 5vw;
  height: 5vw;
  color: white;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  opacity: 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: translate(-50%, -50%) scale(1.05);
  }
}

.options-container {
  height: 62vh;
  margin-top: 20vh;
}
