section {
  height: 100vh;
  width: 100vw;
  &#section-1 {
    background-color: #333;
    background-image: url("@/assets/images/section-1.jpg");
    background-size: cover;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Director light", sans-serif;
}

h1 {
  font-size: 5em;
  margin: 0 !important;
  font-weight: 700;
  color: white;
  transform: rotate3d(2, -1, -1, -0.2turn);
}

/* FONTS */
@font-face {
  font-family: "Karrik";
  src: url("@/assets/fonts/karrik/Karrik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Director light";
  src: url("@/assets/fonts/degheest/Director-Light.ttf");
}

.center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* loco */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
